[submodule "sorc/ufs_model.fd"]
	path = sorc/ufs_model.fd
	url = https://github.com/ufs-community/ufs-weather-model.git
	ignore = dirty
[submodule "sorc/UFS_UTILS.fd"]
	path = sorc/UFS_UTILS.fd
	url = https://github.com/ufs-community/UFS_UTILS.git
	ignore = dirty
[submodule "sorc/jedi-bundle"]
	path = sorc/jedi-bundle
	url = https://github.com/NOAA-EPIC/jedi-bundle.git
	branch = sync_gdas
	ignore = dirty
[submodule "sorc/jcb-algorithms"]
	path = sorc/jcb-algorithms
	url = https://github.com/NOAA-EPIC/jcb-algorithms.git
	branch = sync_gdas
	ignore = dirty
[submodule "sorc/apply_incr.fd"]
	path = sorc/apply_incr.fd
	url = https://github.com/NOAA-PSL/land-apply_jedi_incr.git
	ignore = dirty
[submodule "sorc/calcfIMS.fd"]
	path = sorc/calcfIMS.fd
	url = https://github.com/NOAA-EPIC/land-SCF_proc.git
	branch = land-DA
	ignore = dirty
[submodule "sorc/UFS_UTILS_nofrac.fd"]
	path = sorc/UFS_UTILS_nofrac.fd
	url = https://github.com/ufs-community/UFS_UTILS.git
        ignore = dirty
[submodule "sorc/GDASApp.cd"]
	path = sorc/GDASApp.cd
	url = https://github.com/NOAA-EMC/GDASApp.git
	ignore = dirty
