- ninner: 50
  gradient norm reduction: 1e-10
  test: on
  geometry:
    fms initialization:
      namelist filename: {{ land_fv3jedi_files_path }}/fmsmpp.nml
      field table filename: {{ land_fv3jedi_files_path }}/field_table
    akbk: {{ land_fv3jedi_files_path }}/akbk.nc4
    layout:
    - {{ land_layout_x }}
    - {{ land_layout_y }}
    npx: {{ land_npx_anl }}
    npy: {{ land_npy_anl }}
    npz: {{ land_npz_anl }}
    time invariant fields:
      state fields:
        datetime: '{{ land_background_time_iso }}'
        filetype: fms restart
        skip coupler file: true
        state variables:
        - filtered_orography
        - fraction_of_land
        field io names:
          filtered_orography: orog_filt
          fraction_of_land: land_frac
        datapath: {{ land_orog_files_path }}/
        filename_orog: '{{ land_orog_prefix }}_oro_data.nc'
  diagnostics:
    departures: bkgmob
