members:
  - datapath: mem1
    filetype: fms restart
    skip coupler file: true
    datetime: '{{ land_background_time_iso }}'
    state variables:
    - totalSnowDepth
    - vtype
    - slmsk
    - sheleg
    - filtered_orography
    - fraction_of_ice
    - fraction_of_land
    - stc
    field io names:
      totalSnowDepth: {{ snowdepth_vn }}
      filtered_orography: orog_filt
      fraction_of_ice: fice
      fraction_of_land: land_frac
    filename_sfcd: '{{ land_background_time_fv3 }}.sfc_data.nc'
    filename_cplr: '{{ land_background_time_fv3 }}.coupler.res'
    filename_orog: '{{ land_orog_prefix }}_oro_data.nc'
  - datapath: mem2
    filetype: fms restart
    skip coupler file: true
    datetime: '{{ land_background_time_iso }}'
    state variables:
    - totalSnowDepth
    - vtype
    - slmsk
    - sheleg
    - filtered_orography
    - fraction_of_ice
    - fraction_of_land
    - stc
    field io names:
      totalSnowDepth: {{ snowdepth_vn }}
      filtered_orography: orog_filt
      fraction_of_ice: fice
      fraction_of_land: land_frac
    filename_sfcd: '{{ land_background_time_fv3 }}.sfc_data.nc'
    filename_cplr: '{{ land_background_time_fv3 }}.coupler.res'
    filename_orog: '{{ land_orog_prefix }}_oro_data.nc'
