datetime: '{{ land_background_time_iso }}' 
datapath: ./
prefix: jedi_smc
filetype: fms restart
filename_sfcd: '{{ land_background_time_fv3 }}.sfc_data.nc'
filename_cplr: '{{ land_background_time_fv3 }}.coupler.res'
state variables:
- soilMoistureVolumetric
- vtype
- slmsk
- sheleg
- stc
- filtered_orography
- fraction_of_ice
- fraction_of_land
field io names:
  soilMoistureVolumetric: smc
  filtered_orography: orog_filt
  fraction_of_ice: fice
  fraction_of_land: land_frac
