 -

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: ghcn_snow
    distribution:
      name: InefficientDistribution
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{land_obsdatain_path}}/{{land_obsdatain_prefix}}{{observation_from_jcb}}.nc"
        missing file action: warn
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{land_obsdataout_path}}/{{land_obsdataout_prefix}}{{observation_from_jcb}}{{land_obsdataout_suffix}}"
    simulated variables: [totalSnowDepth]
  #

  # Observation Operator
  # --------------------
  obs operator:
    name: Identity
  obs error:
    covariance model: diagonal
  obs localizations:
  - localization method: Horizontal SOAR
    lengthscale: 250e3
    soar horizontal decay: 0.000021
    max nobs: 50
  - localization method: Vertical Brasnett
    vertical lengthscale: 700
  #

  # Observation Filters (QC)
  # ------------------------
  obs filters:
    - filter: Bounds Check
      filter variables:
      - name: totalSnowDepth
      minvalue: 0.0
      maxvalue: 10000.0
    - filter: Domain Check
      where:
      - variable:
          name: MetaData/stationElevation
        minvalue: -999.0
        maxvalue: 10000.0
    - filter: Domain Check # land only
      where:
      - variable:
          name: GeoVaLs/slmsk
        minvalue: 0.5
        maxvalue: 1.5
    - filter: RejectList  # no land-ice
      where:
      - variable:
          name: GeoVaLs/vtype
        minvalue: 14.5
        maxvalue: 15.5
    - filter: Background Check
      filter variables:
      - name: totalSnowDepth
      threshold: 6.25
      action:
        name: reject
